

/*GENERAL RULES*/

li{
	list-style: none;
}

img{
	width: 400px;
}

 h1{
	font-family: $jose;
}

a{
	text-decoration: none;
	color: $anchor;
	@extend h1;
}



p {
	font-size: $fontSP;
	color: $pColor;
	line-height: $fontSP;
	@extend h1;
}

h2 {
	font-size: $fontSH2;
	@extend h1;
}

h3 {
	font-size: $fontSH3;
	@extend h1;
}

.cf::after {
    content: "";
    display: table; 
    clear: both;
}


