$jose: "Josefin Sans";
$pColor: #666;
$bkCol: #f2f2f2;
$CtCol: #fff;
$anchor: inherit;
$midMarg: 0 auto;
$fontS: .75em;
$fontSP: 1.25em;
$fontSH2: 1em;
$fontSH3: $fontS * 2;
$fontW: 600;
$fontWH3: 800;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
	@media (min-width: #{$tablet-width}){
	@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}){
	@content;
	}
}