/*FOOTER CONTENT*/
%inline {
	display: inline-block
}

.foot-nav{
	display: none;
	float: right;
		@include desktop {
			display: inline-block;
		}
	li{
	 	@include desktop {
		display: inline-block;}
	}
	ul {
		@include desktop {
		display: inline-block;
		margin: 20px 0;}
	}
	a{
		@include desktop {
		font-weight: $fontW;
		font-size: $fontS;
		color: $anchor;
		margin: 0;
		padding: 0 10px;}
	}
}

%extHead{
	font-weight: $fontW;
	color: $anchor;
}

.foot-head {
	@extend %extHead;
	margin: 23px 0;
	font-size: $fontS;
	float: left;
}

.foot-head h2{
	margin: 0;
}

#nav-up a{
	@extend %extHead;
	@extend %inline;
	font-size: $fontS;
	margin: 23px 0;
}

#nav-up {
	float: right;
		@include desktop {
			display: none;
		}
}


.foot-container {
	margin: 0 20px;
	border-top: 1px solid $pColor;
}

.footer {
	background-color: $bkCol;
}

.container, .intro .col, .contact .col {
		@include desktop {
		max-width: 1260px;}
	}