

/*PRIMARY CONTENT*/
%padd {
	padding: 0;
}
.container{
	background-color: $CtCol;
	margin: $midMarg;
	@extend %padd;
	width: 100%;
}

.col {
	max-width: 90%;
	margin: $midMarg;

	img {
		@extend %padd;
		margin: 0;
		max-width: 100%;
	}
	 p {
		max-width: 80%;
		margin: $midMarg;
		padding-bottom: 1em;
	}
}

#portfolio, #contact{
	text-align: center;
	padding: 2.5em 0;
	font-weight: bolder;
}

.primary-content, .content, .contact-info{
	text-align: center;
	padding: 0 10px;
	padding-bottom: 15px;
}

.primary-content ul{
	@extend %padd;
}

.primary-content li{
	padding: 20px 0;
		@include tablet {
			width: 47.2%;
			padding: 0;
			margin: 2% 1.25%;
			float: left;
		}
		@include desktop {
			max-width: 30.633333%;
		}
}

.primary-content h3{
	padding-top: .15em;
	font-weight: $fontW * 1.333333;
}


/*CONTACT CONTENT*/

.contact {
	width: 100%;
	margin: $midMarg;
	background-color: $bkCol;
}

span {
	font-weight: bolder;
	padding-left: .5em
}

.contact .col p{
	@include tablet{
		max-width: 600px;
	}
}